.DS_Store
.vscode
.env
.venv
.swp
dist
ollama
ggml-metal.metal
.cache
*.exe
.idea
test_data
*.crt
llm/build
examples/langchain-typescript-simple/main.js
examples/langchain-typescript-simple/main.js.map
examples/typescript-functioncalling/extractemail.js
examples/typescript-functioncalling/extractemail.js.map
examples/typescript-functioncalling/extractwp.js
examples/typescript-functioncalling/extractwp.js.map
examples/typescript-mentors/character-generator.js
examples/typescript-mentors/character-generator.js.map
examples/typescript-mentors/mentors.js
examples/typescript-mentors/mentors.js.map
examples/typescript-simplechat/client.js
examples/typescript-simplechat/client.js.map
macapp/forge.config.js
macapp/forge.config.js.map
macapp/src/app.js
macapp/src/app.js.map
macapp/src/index.js
macapp/src/index.js.map
macapp/src/install.js
macapp/src/install.js.map
macapp/src/preload.js
macapp/src/preload.js.map
macapp/src/renderer.js
macapp/src/renderer.js.map
macapp/webpack.main.config.js
macapp/webpack.main.config.js.map
macapp/webpack.plugins.js
macapp/webpack.plugins.js.map
macapp/webpack.renderer.config.js
macapp/webpack.renderer.config.js.map
macapp/webpack.rules.js
macapp/webpack.rules.js.map
